* {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}

html {
  font-size: 16px;
  margin: 20px;
}

body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: 'Quattrocento', serif;  
  font-weight: 400;  
  font-style: normal;
  margin: 20px;
  padding: 10px;
  color: #422034; 
}

/* Playwrite GB S Font Styling */
.playwrite-gb-s {
  font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
  font-weight: normal; 
  font-style: normal;

}

/* Header Styling */
header {
  width: 75vw;
  margin: 25px auto;
}

/* Main Content Styling */
main {
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}

/* H1 Styling */
h1 {
  text-transform: uppercase;
  letter-spacing: 15px;
  word-spacing: 5px;
  text-align: left;
  font-size: 4rem;
  font-family: 'Playwrite GB S', serif;
  font-weight: 500;
  color: #ffd6dd;
}

h2 {
  font-size: 2rem;
  text-align: left;
  word-spacing: 5px;
  font-family: 'Playwrite GB S', serif;
  font-weight: 500;
  color: #A62152;
  margin-top: 50px;
}

ul {
  list-style-type: disc;
  font-size: 22px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 30;
  font-family: 'Quattrocento', serif; 
  color: #422034; 
}

/* List Item Styling */
li {
  margin-bottom: 15px;
  font-size: 1.25rem;
  text-align: left;
  font-family: 'Quattrocento', serif; 
  color: black;
}
a {
  text-decoration: none;
}

a:link, a:visited {
  color: #593149;
}

a:hover {
  color: #ffbac6;
}

a:active {
  color: #ffc4cf;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 961px) {
  header, main {
    width: 90vw;
  }
}

